// PARTIALS

@import '../partials/variables';
@import '../partials/base';


// LAYOUT

.main_background {
    width: 100%;
    background-image: linear-gradient(180deg, white, $very-light-gray, white);
    height: 100%;
}

header {
    z-index: 1;
    background-color: $dark-blue;
    box-shadow: $header-shadow;
    display: flex;
    justify-content: space-between;
    padding: $padding-box;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .menu_hamburguesa{
        display: none;
    }

    .menu_hamburguesa:checked + .links_container {
        opacity: 1;
        height: 100vh;
    }

    .label_hamburguesa {
        color: white;
        cursor: pointer;
            width: 30px;
    }

    ul {
        width: 300px;
        background-color: $dark-blue;
    
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        opacity: 0; // yo
    
        padding-top: 10%;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        gap: 2rem;
        z-index: 1000;
    
        transition: all .3s;
    
        li {
            justify-content: left;
    
            a {
                font-family: $main-font;
                font-size: 1rem;
                color: $header-footer-color;
                text-decoration: none;
                margin-bottom: 2%;
                text-align: left;
                &:hover {
                    color: $very-light-blue;
                    text-decoration: underline;

                }
            }
        }
    }
}

.header_logo {
    max-width: 100px;
    margin-left: -10px;
}


footer {
    @extend .basic_container;
    background-color: $dark-blue;
    width: 100vw;

    div {
        @extend .layout_container_lists;
        ul {
            li {
                margin: 5px;
                vertical-align: middle;
                a {
                    @extend .layout_links;
                    text-align: center;
                }
            }
        }
    }
    p {
        font-family: $main-font;
        color: $header-footer-color;
        font-size: 0.8rem;
        margin: 2% 2% 3% 2%;
    }
}