@import './variables';
@import './base';

.main_background {
    width: 100%;
    background-image: linear-gradient(180deg, white, $very-light-gray, white);
    height: 100%;
}

header {
    z-index: 1;
    background-color: $dark-blue;
    box-shadow: $header-shadow;
    display: flex;
    justify-content: space-between;
    padding: $padding-box;

    nav {
        @extend .layout_container_lists;
        ul {
            li {
                margin: 10px;
                a {
                    @extend .layout_links;
                    transition: 0.5s;
                    &:hover {
                        color: $very-light-blue;
                        text-decoration: underline;

                    }
                }
            }
        }
    }
}

.header_logo {
    max-width: 100px;
    margin-left: -10px;
}

.header_menu {
    display: none;
}


footer {
    @extend .basic_container;
    background-color: $dark-blue;

    div {
        @extend .layout_container_lists;
        ul {
            li {
                margin: 5px;
                vertical-align: middle;
                a {
                    @extend .layout_links;
                    text-align: center;
                }
            }
        }
    }
    p {
        font-family: $main-font;
        color: $header-footer-color;
        font-size: 0.8rem;
        margin: 2% 2% 3% 2%;
    }
}


