/* PARTIALS */

@import '../partials/variables';
@import '../partials/layout';
@import '../partials/base';


.schedule_container {
    display: flex;
}

.schedule_container_2 {
    display: block;
    padding: $percent10;
    justify-content: center;
}

section {
    display: flex;
    div {
        div {
            h3 {
                padding: 0;
                margin: $percent5;
                margin-bottom: 5%;
            }
            p {
                padding: 0;
                margin: $percent5;
            }

            ul {
                list-style-type: disc;
                display: block;
            }
        }  
    }
}

.schedule_image { 
    width: 600px;
    box-shadow: $box-shadow;
    border-radius: $radius;
}

/*.contact_schedule_picture {
    @include picture_size(700px, 400px);
    box-shadow: $box-shadow;
    border-radius: $radius;
}
*/

.contact_form {
    margin: $percent5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas: 
    "name surname"
    "phone email"
    "button button";

    .item_button .item_email .item_name .item_phone .item_surname {
        padding: 2%;
    }

    .item_name {
        grid-area: name;
    }
    .item_surname {
        grid-area: surname;
    }
    .item_phone {
        grid-area: phone;
    }
    .item_email {
        grid-area: email;
    }
    .item_button {
        grid-area: button;
        margin: 2%;
    }
    
   .btn {
        background-color: $dark-blue;
        width: 100px;
        color: white;
        align-self: flex-end;
        box-shadow: $box-shadow;
            &:hover {
                background-color: $dark-blue-hover;
                box-shadow: $no-shadow;
             }
    }
    
}