/* TABLET CHICA */

@media only screen and (min-width:481px) and (max-width:600px) {

    /* FUENTES */
    h1  {
        font-size: 2rem;
    }
    
    h2  {
        font-size: 1.5rem;
        margin-top: 10%;
    }
    
    h3  {
        font-size: 1.2rem;
        margin-top: 10%;
    }

    p   {
        font-size: 1rem;
        margin: $percent5;
    }

    /* LAYOUT */

    .header_logo {
        width: 50px;
    }

    footer {
        div {
            ul {
                display: block;
            }
            p {
                font-size: 0.7rem;  
            }
        }
    }

    /* HOME */

    #home_carousel {
        display: none !important;
    }

    #home_small_image {
        display: block;
        margin: $percent5;
        box-shadow: $box-shadow;
        border-radius: $radius;
        width: 500px;
    }

    .carousel-control-next {
        height: 100px !important;
    }

    .carousel_container .carousel-item {
        height: 200px !important;
    }

    .home_image {
        width: 90%;
    }
    
    .flipping_text {
        width: 90%;
        margin: auto;
        top: 8;
        left: 24;
        p {
            font-size: 0.8rem;
            &:hover {
                transform: none;
            }
        }

    }

    .location_container {
        display: block;
        justify-content: space-around;
    }
    
    #small_map {
        justify-content: center !important;
        padding: 2% !important;
    }

    #map {
        width: 400px !important;
        height: 300px !important;
    }


    .quote {
        font-size: 1.1rem;
    }
    
    .quote_authors {
        font-size: 0.8rem;
    }
    

    /* ABOUT US */

    .about_us_container {
        display: block;
    }

    .about_us_container_history p {
        padding: 2%;
        margin: 0px;
    }
    
    .about_us_picture_container {
        justify-content: center;
    }

    .about_us_picture {
        max-width: 460px;
        margin: 5% 0% 5% 0%;
    }
    

    /* CONTACT */

    .contact_schedule_container {
        display: block;
    }
    
    .contact_schedule_picture {
        max-width: 450px;
        display: block;
        margin: auto;    
    }
    
    .contact_form {
        margin:  $percent5;
        display: block;
    }

    .item_button {
        margin-bottom: 10%;
    }

    /* EXPO */
    
    .expo_sm {
        display: none;
    }

    /* EN LA NATURALEZA */

    .in_nature_tour_container {
        display: block;
    }

}




