// MOBILE

@media only screen and (max-width:480px) {

    // FUENTES

    h1  {
        font-size: 2rem;
    }
    
    h2 h3 {
        margin-top: 10%;
    }

    h2  {
        font-size: 1.5rem;
    }
    
    h3  {
        font-size: 1.2rem;
    }

    p   {
        font-size: 0.8rem;
        margin:  $percent5;
    }


    // LAYOUT

    .header_logo {
        width: 50px;
    }
    footer {
        display: block;
        justify-content: center;
        div {
            ul {
                display: block;
            }
        }
        p {
            padding-bottom: 5%;
            font-size: 0.7rem;
            text-align: center; 
        }
    }


    // HOME

    #home_carousel {
        display: none !important;
    }

    #home_small_image {
        display: block;
        margin: $percent5;
        box-shadow: $box-shadow;
        border-radius: $radius;
        width: 400px;
    }

   .home_image {
        width: 80%;
        height: 80%;
    }

    .flipping_text {
        width: 80%;
        height: 80%;
        margin: auto;
        top: 3%;
        left: 2%;
        p {
            font-size: 0.8rem;
            &:hover {
                transform: none;
            }
        }
    }  








    .location_container {
        display: block;
        justify-content: space-around;
    }

    #small_map {
        justify-content: center !important;
        padding: 2% !important;
    }

    #map {
        width: 400px !important;
        height: 300px !important;
    }

    .quote_container {
        padding: $percent5;
    }

    .quote {
        font-size: 1rem;
    }
    
    .quote_authors {
        font-size: 0.7rem;
    }


    // ABOUT US

    .about_us_container {
        display: block;
    }

    .about_us_picture_container {
        display: flex;
        justify-content: center;
    }

    .about_us_container_history p {
        padding: 2%;
        margin: 0px;
    }
    
    .about_us_picture {
        width: 350px;
        height: 500px;
        margin: 5% 0% 5% 0%;
    } 


    // CONTACT
   
    .schedule_container {
        display: block;
        margin: auto; 

        div {
            div {
                h3 {
                    margin: 0px;
                    margin-bottom: 2%;
                }
                p {
                    margin: 2%;
                }
            }
        }
    }

    .schedule_container_2 {
        padding: $percent5;
    }

    .schedule_image_container {
        margin: $percent5;
    }

    .schedule_image {
        @include picture_size(300px, 200px);
        max-width: 350px;
        }
    
    .contact_form {
        margin: $percent5;
        display: block;
    }
    
    .item_button {
        margin-bottom: 10%;
    }


    // OUR EXPO
    
    .collapsables {
        display: none;
    }
    
    .mobile_container {
        display: block;
        margin: 5%;
        
        .expo_sm {
            display: flex;
            justify-content: center;
        }
    }

    .expo_pic {
        width: 350px;
        box-shadow: $box-shadow;
        margin: 2%;
        border-radius: 10px;
    }

    
    // IN NATURE

    .in_nature_container {
        display: block;
        justify-content: center;
    }

    .tour_container {
        display: block;
        justify-content: center;
        margin-bottom: 2%;
    }
    
    .in_nature_picture_sm {
        width: 200px !important;
        height: 200px !important;
    }
        
    .in_nature_text {
        font-size: 0.8rem;
    }

}


