// mobile

@media only screen and (max-width:480px) {

    /* FUENTES */
    h1  {
        font-size: 2rem;
    }
    
    h2 h3 {
        margin-top: 10%;
    }

    h2  {
        font-size: 1.5rem;
    }
    
    h3  {
        font-size: 1.2rem;
    }

    p   {
        font-size: 0.8rem;
        margin:  $percent5;
    }

    /* LAYOUT */
    
    .header_logo {
        width: 50px;
    }
    footer {
        display: block;
        justify-content: center;
        div {
            ul {
                display: block;
            }
        }
        p {
            padding-bottom: 5%
        }
    }
    
    footer p {
        font-size: 0.7rem;
        text-align: center;  
    }

    /* HOME */


    #home_carousel {
        display: none !important;
    }

    #home_small_image {
        display: block;
        margin: $percent5;
        box-shadow: $box-shadow;
        border-radius: $radius;
        width: 400px;
    }

    .home_flipping_container_2 {
        justify-content: center;
        align-items: center;
    }
    
    .home_image {
        width: 350px;
        max-width: fit-content;
    }

    .flipping_text {
        width: 350px;
        max-width: fit-content;
        left: 65px;
        p {
            font-size: 1rem;
        }
        &:hover {
               p {
                transform: none;
               } 
        }
    }  

    .location_container {
        display: block;
        justify-content: space-around;
    }

    #small_map {
        justify-content: center !important;
        padding: 2% !important;
    }

    #map {
        width: 400px !important;
        height: 300px !important;
    }

    .quote_container {
        padding: $percent5;
    }

    .quote {
        font-size: 1rem;
    }
    
    .quote_authors {
        font-size: 0.7rem;
    }

    /* ABOUT US */

    .about_us_container {
        display: block;
    }

    .about_us_picture_container {
        justify-content: center;
    }

    .about_us_container_history p {
        padding: 2%;
        margin: 0px;
    }
    
    .about_us_picture {
        width: 350px;
        margin: 5% 0% 5% 0%;
    } 
    
    /* CONTACT */

    .contact_schedule_container {
        display: block;
    }
    
    .contact_schedule_picture {
        max-width: 450px;
        display: block;
        margin: auto;    
    }
    
    .contact_form {
        margin: $percent5;
        display: block;
    }

    .item_button {
        margin-bottom: 10%;
    }

    /* EXPO */
    
    .collapsables {
        display: none;
    }
    
    .expo_sm {
        display: block;
        margin: 5%;
    }

    .expo_pic {
        max-width: 450px;
        box-shadow: $box-shadow;
        margin: 2%;
        border-radius: 10px;
    }


    /* IN NATURE */

    .in_nature_tour_container {
        display: block;
    }
}


