/* DESKTOP CHICA */

@media only screen and (min-width: 769px) and (max-width:1023px) {

    /* HOME */

    #home_small_image {
        display: none;
    }
   
    
    .carousel_container {
        margin: $percent5;
        .carousel-item {
            height: 300px;
        }
    }

    .location_container {
        display: block;
        align-items: center;
    }

    .location_text {
        margin: 2% !important;
    }

    #map {
        width: 600px !important;
        height: 350px !important;
    }
    

    /* ABOUT US */

    .about_us_container_history p {
        padding: 2%;
        margin: 0px;
    }
    
    .about_us_picture {
        width: 400px;
        margin: 2%;
        position: sticky;
        top: 80px;
    }
    


    /* CONTACT */
    
    .contact_schedule_picture {
        width: 350px !important;
        height: 250px !important;
        display: block;
        margin: auto;    
    }
    
    /* EXPO */
    
    .collapse {
        border-radius: $radius;
        margin: $percent5;
    }

    .our_expo_picture {
        display: block;
        margin: auto;
        margin-bottom: 2%;
    }

    .expo_sm {
        display: none;
    }

}

