/* DESKTOP CHICA */

@media only screen and (min-width: 769px) and (max-width:1023px) {

    // LAYOUT

    .menu_icon {
        display: none;
    }
    

    /* HOME */

    #home_small_image {
        display: none;
    }
   
    .carousel_container {
        margin: $percent5;
        .carousel-item {
            height: 300px;
        }
    }

    .location_container {
        display: block;
        align-items: center;
    }

    .location_text {
        margin: 2% !important;
    }

    #map {
        width: 600px !important;
        height: 350px !important;
    }
    

    /* ABOUT US */

    .about_us_container_history p {
        padding: 2%;
        margin: 0px;
    }
    
    .about_us_picture {
        width: 400px;
        margin: 2%;
        position: sticky;
        top: 80px;
    }
    


    /* CONTACT */

    .schedule_image {
        @include picture_size(350px, 250px);
    }
    
    .schedule_container {
        div {
            div {
                h3 {
                    margin: 0px;
                    margin-bottom: 2%;
                }
                p {
                    margin: 2%;
                }
            }
        }
    }

    .schedule_container_2 {
        padding: $percent5;
    }

    // IN NATURE

    .tour_container {
        margin-bottom: 2%;
    }

    .in_nature_picture_sm {
        width: 200px !important;
        height: 200px !important;
    }
    
    .in_nature_text {
        font-size: 0.8rem;
    }


    // EXPO
    
    .collapse {
        border-radius: $radius;
        margin: $percent5;
    }

    .our_expo_picture {
        display: block;
        margin: auto;
        margin-bottom: 2%;
    }

    .expo_sm {
        display: none;
    }


}

