/* DESKTOP GRANDE */

@media only screen and (min-width: 1024px) and (max-width:1200px) {

    // HOME

    #home_small_image {
        display: none;
    }
   
    .home_flipping_container_2 {
        margin: auto;
    }
    
    #map {
        width: 600px !important;
        height: 350px !important;
    }

    // CONTACT 
    .contact_schedule_picture {
        @include picture_size(500px, 350px);
    }

}
