// DESKTOP MUY GRANDE

@media only screen and (min-width: 1201px) {

    // LAYOUT

    nav {
        align-self: center;
        align-items: center;

        .label_hamburguesa {
            display: none;
        }

        ul {
            padding: 0;
            opacity: 1;
            position: static;
            width: auto;
            height: auto;
            flex-direction: row;
            justify-content: flex-end;
            gap: 2rem;
            li {
                a {
                    color: white;
                    font-size: 1.1rem;
                    transition: all .3s;
                    padding: .1rem .7rem;
            
                    &:hover {
                        color: $light-blue;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}